<a href="https://colab.research.google.com/github/jsalas1514/ESTRUCTURA_DATOS/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Crea una tupla con los siguientes elementos: "apple", "banana", "cherry", "date", "fig", "grape". Imprime la tupla y el número de elementos que contiene.

In [1]:
frutas=("apple","banana","cherry","date","fig","grape")
print("tupla",frutas)
print("El numero ded elemento es:",len(frutas))

tupla ('apple', 'banana', 'cherry', 'date', 'fig', 'grape')
El numero ded elemento es: 6

2.Dada la tupla fruits = ("apple", "banana", "cherry", "date", "fig", "grape"), accede e imprime el tercer elemento de la tupla.

In [2]:
tercer_elemento = frutas[2]
print("el tercer elemento de la tupla es:", tercer_elemento)

el tercer elemento de la tupla es: cherry

3.Dada la tupla colors = ("red", "green", "blue"), desempaqueta sus valores en tres variables y luego imprime cada variable.

In [4]:
colors=("red","green","blue")


color_1, color_2, color_3=colors
print("Color 1:", color_1)
print("Color 2:", color_2)
print("Color 3:", color_3)

Color 1: red
Color 2: green
Color 3: blue

4.Crea dos tuplas, una con los números (1, 2, 3) y otra con los números (4, 5, 6). Concatenálas en una sola tupla y muestra el resultado

In [19]:
numeros1=(1,2,3)
numeros2=(4,5,6)
print("Tupla_Concatenada", numeros1+numeros2)

Tupla_Concatenada (1, 2, 3, 4, 5, 6)

5.Crea una tupla con el elemento "repeat" y repítela 4 veces. Imprime el resultado.

In [10]:
tupla=("repeat",)
tupla_repetida = tupla*4
print("Tupla que se repite:", tupla_repetida)

Tupla que se repite: ('repeat', 'repeat', 'repeat', 'repeat')

6.Dada la tupla numbers = (10, 20, 30, 40, 50), utiliza un bucle for para iterar sobre la tupla e imprimir cada número.

In [11]:
numbers=(10,20,30,40,50)


for number in numbers:
    print(number)

10
20
30
40
50

7.Crea una tupla que contenga otras dos tuplas: tuple1 = (1, 2, 3) y tuple2 = ("a", "b", "c"). Imprime la tupla anidada.

In [12]:
tuple1 = (1, 2, 3)
tuple2 = ("a", "b", "c")


tupla_anidada = (tuple1, tuple2)
print("Tupla anidada:", tupla_anidada)

Tupla anidada: ((1, 2, 3), ('a', 'b', 'c'))

8.Dada la tupla letters = ("a", "b", "c", "d"), verifica si la letra "e" está en la tupla e imprime un mensaje apropiado.

In [13]:
letters = ("a", "b", "c", "d")


if "e" in letters:
    print("La letra 'e' estápertenece a la tupla.")
else:
    print("La letra 'e' no pertenece a la tupla.")

La letra 'e' no pertenece a la tupla.

9.Convierte la lista my_list = [100, 200, 300, 400] a una tupla e imprime la tupla resultante.

In [15]:
my_list = [100, 200, 300, 400]


my_tuple = tuple(my_list)


print("mi tupla:", my_tuple)

mi tupla: (100, 200, 300, 400)

10.Dada la tupla my_tuple = (5, 10, 15, 20, 25, 30, 35), imprime el valor en el índice 2 y una sub-tupla que contenga los elementos desde el índice 1 hasta el 4.

In [18]:
my_tuple = (5, 10, 15, 20, 25, 30, 35)

print("Valor en el índice 2:", my_tuple[1])

sub_tuple = my_tuple[1:4]

print("Sub-tupla desde el índice 1 hasta el 4:", sub_tuple)

Valor en el índice 2: 10
Sub-tupla desde el índice 1 hasta el 4: (10, 15, 20)